* {
  font-family: arial;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.score-board {
  display: flex;
  justify-content: space-evenly;
  color: gray;
  font-size: 0.9rem;
  font-weight: 300;
  gap: 1rem;
  padding-bottom: 1rem;
}

.grid-row {
  display: flex;
}

.card {
  padding: 1rem;
  font-size: 2.5rem;
  border: 1px solid black;
  margin: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.reset-btn {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  background-color: rgb(236, 236, 236);
  border-color: transparent;
  font-size: 1rem;
  font-weight: 600;
} 